{
  "extends": [
    "plugin:jest/recommended",
    "@webdeveric/eslint-config"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "browser": false,
    "es6": true,
    "node": true
  }
}
